<div id="home">

  <header class="v-header container1">

    <div class="fullscreen-video-wrap">
      <video src="./assets/vid/finalSmall.mp4" muted="muted" preload="auto" autoplay="true" loop="loop" id="video-bg-elem">
      </video>
    </div>

    <div class="header-overlay"></div>

    <div class="header-content">
      <h1 class="display-3">Welcome to Anne's Bakery</h1>
      <hr class="boldHr">

      <div class="pt-3">
        <div class="text-center">
          <h4><i>Sweet tooth? Let Anne's Bakery satisfy your cravings with our <a routerLink="/shop">pastries</a>!</i></h4>
        </div>
      </div>

      <div class="py-4">
        <div class="text-center">
          <button routerLink="/shop" style="height: 60px; width: 93px; position: relative; top: 45%; text-align: center; font-size: 27px;" class="btn btn-lg px-2">Shop</button>
          <button routerLink="/about" style="height: 60px; width: 93px; position: relative; top: 45%; text-align: center; font-size: 27px;" class="btn btn-lg px-2">About</button>
        </div>
      </div>

      <div class=" pt-5">
        <div class="text-center ">
          Social Media:
          <a target="_blank" href="http://www.instagram.com/annesbakery"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.facebook.com/Annes-Bakery-510242076014210/"><i class="fa fa-facbook" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="pt-2">
        <div class="text-center ">
          <a href="mailto:admin@annes-bakery.com"><i class="fa fa-envelope" aria-hidden="true"></i>: admin@annes-bakery.com</a>
        </div>
      </div>
    </div>
  </header>

</div>