<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label for="name">Name</label>
    <input ngModel name="name" class="form-control" id="name" type="" value="">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <span class="input-group-addon">$</span><input ngModel name="price" class="form-control" id="price" type="" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input ngModel name="quantity" class="form-control" id="quantity" type="" value="">
  </div>
  <button class="btn btn-primary">Save</button>
</form>